@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

html,
body,
#__nuxt {
    height: 100%;
}

html {
    font-size: 62.5%;
}

.btn {
    font-size: 1.2rem;
    font-weight: 400;
}


body {
    background-color: rgb(250, 250, 250);
    color: rgb(35, 35, 35);
}

*::-webkit-scrollbar {
    width: 0.5em;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(201, 201, 201);
}

.center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

ul {
    list-style-type: none;
}

label {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 100%;
    height: 100%;
}

input:is([type='email'], [type='password'], [type='text'], [type='date'], [type="number"]),
textarea {
    font-size: 1.15rem;
    font-weight: 300;

    width: 100%;
    height: 45px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

input:is([type='email'], [type='password'], [type='text'], [type='date'], [type="number"]):hover,
textarea:hover {
    border-color: #b1b1b1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 1rem;
    font-weight: 300;
    padding: 7px;
    line-height: auto;
}

select {
    font-size: 1.15rem;
    font-weight: 300;
    width: 100%;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

select:hover {
    border-color: #b1b1b1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

select:hover>opt {
    background-color: #b1b1b1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: inherit !important;
}

button.button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    font-size: 1.1rem;
    font-weight: 200;
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;

    padding: 5px 15px;

    background-color: rgb(54, 54, 54);
    color: rgb(231, 236, 238);

    border-radius: 8px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s, box-shadow .15s;

}

button.button:hover {
    background-color: rgb(29, 29, 29);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button.button:disabled {
    cursor: not-allowed;
}

button.button:not(:disabled):active {
    transform: scale(0.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 550px) {
    .center {
        padding: 0 4%;
    }
}